.pagina-web
{
background-color:#161515;
width:1600px;
height:5112px;
padding:0px;
overflow:hidden;
position:relative;
left:202px;
}
name:Pagina web;
id:1:2;
absoluteRenderBounds:{"x":-5392,"y":1287,"width":1600,"height":5112};
absoluteBoundingBox:{"x":-5392,"y":1287,"width":1600,"height":5112};
absoluteTransform:[[1,0,-5392],[0,1,1287]];
backgroundStyleId:;
backgrounds:[{"type":"SOLID","visible":true,"opacity":1,"blendMode":"NORMAL","color":{"r":0.08627451211214066,"g":0.08235294371843338,"b":0.08235294371843338},"boundVariables":{}}];
blendMode:PASS_THROUGH;
bottomLeftRadius:0;
bottomRightRadius:0;
children:[{"id":"136:664"},{"id":"99:3"},{"id":"195:62"},{"id":"165:40"},{"id":"167:51"},{"id":"571:367"},{"id":"171:87"},{"id":"333:359"},{"id":"187:262"},{"id":"187:257"},{"id":"552:774"},{"id":"552:862"}];
clipsContent:true;
constraints:{"horizontal":"MIN","vertical":"MIN"};
cornerRadius:0;
cornerSmoothing:0;
counterAxisAlignItems:MIN;
counterAxisSizingMode:FIXED;
dashPattern:[];
effectStyleId:;
effects:[];
expanded:false;
exportSettings:[];
fillStyleId:;
fills:[{"type":"SOLID","visible":true,"opacity":1,"blendMode":"NORMAL","color":{"r":0.08627451211214066,"g":0.08235294371843338,"b":0.08235294371843338},"boundVariables":{}}];
gridStyleId:;
guides:[];
height:5112;
isMask:false;
itemReverseZIndex:false;
itemSpacing:0;
layoutAlign:INHERIT;
layoutGrids:[];
layoutGrow:0;
layoutMode:NONE;
layoutPositioning:AUTO;
locked:false;
name:Pagina web;
numberOfFixedChildren:0;
opacity:1;
overflowDirection:VERTICAL;
overlayBackground:{"type":"NONE"};
overlayBackgroundInteraction:NONE;
overlayPositionType:CENTER;
paddingBottom:0;
paddingLeft:0;
paddingRight:0;
paddingTop:0;
parent:{"id":"716:375"};
primaryAxisAlignItems:MIN;
primaryAxisSizingMode:AUTO;
reactions:[];
relativeTransform:[[1,0,202],[0,1,0]];
removed:false;
rotation:0;
strokeAlign:INSIDE;
strokeBottomWeight:1;
strokeCap:NONE;
strokeGeometry:[];
strokeJoin:MITER;
strokeLeftWeight:1;
strokeMiterLimit:4;
strokeRightWeight:1;
strokeStyleId:;
strokeTopWeight:1;
strokeWeight:1;
strokes:[];
strokesIncludedInLayout:false;
stuckNodes:[];
topLeftRadius:0;
topRightRadius:0;
type:FRAME;
visible:true;
width:1600;
x:202;
y:0;
isAsset:false;
layoutSizingHorizontal:FIXED;
layoutSizingVertical:FIXED;
maskType:ALPHA;
position:relative;
